/.gradle
/.idea
!.idea/
.idea/*
!.idea/dictionaries
/gradle
/__artifacts_temp
/build
/out
/app/build
local.properties
/arch/*
!/arch/androraider.desktop
!/arch/androraider.sh
!/arch/PKGBUILD

*
!.gitignore
!build.gradle
!gradle.properties
!gradlew.bat
!README.md
!settings.gradle

!app/src
!app/build.gradle.kts
