.local{
    -fx-font-weight: bold;
    -fx-fill: orange;
}

.param{
    -fx-font-weight: bold;
    -fx-fill: darkblue;
}

.bracket{
    -fx-fill: blueviolet;
}

.comment{
    -fx-fill: gray;
    -fx-font-style: italic;
}

.string{
    -fx-font-weight: bold;
    -fx-fill: green;
}