.local {
    -fx-font-weight: bold;
    -fx-fill: orange;
}

.param {
    -fx-font-weight: bold;
    -fx-fill: darkcyan;
}

.number {
    -fx-fill: mediumblue;
}

.bracket {
    -fx-fill: blueviolet;
}

.comment {
    -fx-fill: gray;
    -fx-font-style: italic;
}

.string {
    -fx-font-weight: bold;
    -fx-fill: green;
}

.keyword {
    -fx-font-weight: bold;
    -fx-fill: darkblue;
}

.call {
    -fx-font-weight: bold;
    -fx-fill: brown;
}

.error {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.popup {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5;
}